<app-template-b [title]="title" [subtitle]="subtitle">

  <div class="borders">
    <app-tableau-dark *ngIf="collection$ | async as collection" [headers]="headers">
      <tr *ngFor="let item of collection">
        <td>{{item.name}}</td>
        <td>{{item.ca | currency:'EUR'}}</td>
        <select class="form-control" (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state == item.state">{{state}}</option>
        </select>
      </tr>
    </app-tableau-dark>
  </div>

  </app-template-b>
